*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.container{
  max-width: 1336px;
  margin: auto;
}

input,
textarea{
  border: none;
  outline: none;
}
.output-container,
.input-boxes,
.input-box-container,
.main-container,
.input-box,
.input-container,
.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-box-container,
.input-box,
.main-container{
  width: 100%;
}
.output-container,
.input-container{
  width: 50%;
}
.input-box{
  align-items: flex-start;
}
.input-box-container,
.input-container,
.input-box{
  flex-direction: column;
}
.input-box-container{
  flex-wrap: wrap;
}
.input-container{
  padding: 20px;
  flex-wrap: wrap;
}
.input-box,
.input-container-title{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.input-box-label{
  margin-bottom: 10px;
}
.input-box-text{
  padding:10px 5px;
  border-radius: 20px;
  width: 100%;
}
.input-box-total{
  color: #fff;
}
.small{
  width: 48%;
}
.input-boxes{
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.output-container{
  flex-direction: column;
  padding: 10px;
}
.output-title{
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}
.output-screen{
  background: white;
  width: 100%;
  height: 600px;
  border-radius: 10px;
  padding: 10px;
}